.form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 15px 15px;
  border: 3px solid black;
  border-radius: 5px;
  width: 380px;
}

.label {
  text-align: start;
  font-size: 18px;
  font-weight: 500;
}

.input {
  background-color: transparent;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding-left: 10px;
  color: rgb(48, 48, 48);
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.btn {
  margin-top: 15px;
  display: block;
  margin-inline: auto;
  border-radius: 8px;
  padding: 8px 16px;
  width: 125px;
  height: 40px;
  border: none;
}

.error {
  color: red;
}
